<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>name = {{ name }}</p>
    <p>age = {{ age }}</p>
    <p>my_dict: city= {{ my_dict["city"] }}</p>
    <p>my_dict: city= {{ my_dict.city }}</p>
    <p>my_list: {{ my_list }}</p>
    <p>my_list[my_int]: {{ my_list[my_int] }}</p>
    <p>my_list[0] + my_list[1] = {{ my_list[0] + my_list[1] }}</p>
    <p>{{"hello" + " python" }}</p>
    <p>a{{"   flask world    " | trim | upper }}a</p>
    <hr/>
    <p>{{my_list | li2 }}</p>
    <p>{{my_list | li3 }}</p>
</body>
</html>